/* NOW WITH CSS! */
body{
	background-color: #f7f7f7;
	/* base for the font */
	font-size: 10px;
	}

h1 {
	font-family: Garamond;
	font-size: 5.0em;
}

p{
	font-family: Garamond;
	font-size: 2.0em;

	}



li{
	font-weight:bold;
	font-size: 1.0em;
}

#github {
	font-size: 1.5em;
}
